.super-mario {
    width: 200px;
    position: absolute;
  }
  
  .goomba {
    position: absolute;
    width: 100px;
  }
  
  .baloon {
    position: absolute;
  
  }
  
  .speach {
    position: absolute;
    font-size: 25px;
  }
  
  .bowser {
    position: absolute;
    width: 300px;
  }