h1, p {
    text-align: center;
}

ol, ul {
    list-style: none;
    text-align: center;
}

li:hover {
    background-color: hotpink;
}
li:active {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
